.theater {
    margin-top: 90px;
    button {
        width: calc(100%/6);
    }
    .nav-tabs {
        .nav-link {
            p {
                color: wheat;
            }
        }
        .nav-link.active {
            background-color: #ecd60f;
            p {
                color: wheat;
            }
        }
    }
    .tab-content {
        .nav-link.active {
            background-color: #ecd60f;
        }
        button {
            text-align: left;
            width: 100%;
            color: wheat;
        }
        img {
            margin-right: 10px;
            display: block;
        }
        .time {
            margin-top: 20px;
            margin-bottom: 30px;
            .col-2 {
                text-align: center;
            }
            .col-10 {
                margin-bottom: 10px;
            }
            a {
                margin-right: 20px;
            }
            img {
                height: 100px;
                margin: auto;
            }
        }
    }
}