.page-not-found {
    display: block;
    text-align: center;
    img {
        height: 68.5vh;
    }
    button {
        display: block;
        a {
            color: white;
            text-decoration: none;
        }
        margin: auto;
    }
}